@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  text-align: center;
  position: relative;
  font-family: 'Roboto', serif;
}

.App.dark{
  background-color: black;
  color: white;
}
.form{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.form input{
  padding: 0px 10px;
}
.form button{
 margin: 0px 10px; 
}
.card.dark{
  background-color: rgb(27,27,27);
  color: white;
}
.card{
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
    margin-top: 50px;
}
.weather{
  text-align: center;
}


.card img{
  width: 20%;
  margin-top: 20px;
}
.card .place{
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
  margin: 10px 0px;
}
.card .temp{
  font-size: 4rem;
  font-weight: 500;
  margin-left: 30.39px;
}
.whp{
  display: flex;
  margin: 20px 0px;
}
.whp .title{
  font-size: 0.8rem;
  margin-left: 30.39px;
}
.whp .data{
  font-size: 1.5rem; 
  font-weight: 500;
  margin-left: 30.39px;
}
.whp .data .unit{
  font-size: 0.8rem;
}
.card .desc{
  font-size: 0.8rem;
  font-weight: 500;
}

.toggle_theme{
  position: fixed;
  top: 10px;
  right: 10px;
}