* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-container {
  padding: 25px;
  background-color: yellow;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 32px;
  font-size: 20px;
}

.username {
  border-radius: 16px;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: teal;
}

.password {
  border-radius: 16px;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: tomato;
}

label {
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

input {
  border: none;
  border-radius: 16px;
  outline: none;
  padding: 0 10px;
  font-size: 18px;
  height: 35px;
}

.name {
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
  overflow-x: scroll;
  overflow-y: hidden;
}
.passout {
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: sans-serif;
  overflow-x: scroll;
  overflow-y: hidden;
}