.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chess-board {
  border: 19px solid black;
  height: 200px;
  width: 200px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 0;
  padding: 0;
  margin: 0;
}
.row {
  display: flex;
}
.squre {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.black {
  background: black;
}
.row:nth-child(even) .squre:nth-child(even) {
  background: black;
}
.row:nth-child(odd) .squre:nth-child(odd) {
  background: black;
}
/* .squre:nth-child() {
  background: black;
} */
