body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    
}

.inner-container{
    border: 5px solid #cccccc;
    box-shadow:  10px 10px  rgb(116, 109, 109);
    padding: 10px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(21, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;

}
.inner-text{
    padding: 10%;
    font-size: 50px;
    text-align: center;
    color: #cccccc;
}
.box{
    display: block;
    cursor: pointer;
}
.active{
    background-color: #c92d61;
    border-color: #cccccc;
}
.active:hover{
    background-color: #85325f;
}